/* Estilo del encabezado */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

:root {
    --primary: #ffbf00; /* dorado */
    --secondary: #4b2e0088; /* marrón oscuro */
    --accent: #ffe4c4; /* crema */
    --text: #2b2b2b;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--accent);
    color: var(--text);
}

/* Menú horizontal */
nav {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
}

nav a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: white;
}

/* Carrusel Swiper */
.swiper {
    width: 100%;
    height: 80vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Títulos */
h1 {
    text-align: center;
    margin: 30px 0 10px;
    font-size: 3em;
    color: var(--secondary);
}

h2 {
    text-align: center;
    margin-top: 40px;
}

/* Tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    width: 300px;
    border-radius: 20px;
    background: linear-gradient(135deg, #ffe8cc, #ffc107, #fff3cd);
    padding: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 10px;
}

.card span {
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}


/* Estilos responsive para móviles */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    header img {
        height: 150px;
        width: 150px;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
    padding-top: 70px; /* para que el contenido no quede debajo del menú */
}
